body {
  background: linear-gradient(to right, #00b09b, #96c93d);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  color: #333;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

form input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #00b09b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #028a75;
}

#success {
  margin-top: 20px;
  color: green;
  text-align: center;
  font-weight: bold;
}
